/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    position: relative
}

/* Header */
header {
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    position: fixed;
    background-color: white;
    color: black;
}

.container {
    height: 100%;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Li rules Header */
li {
    list-style: none;
}

.hleft li {
    padding-right: 30px;
}

.hright li {
    padding-left: 30px;
}

header a {
    text-decoration: none;
    color: black;
}

/* Main */
.first.section {
    background-color: #b3d0e7;
}
main {
    margin-top: 100px;
    background-color: lightcoral;
    height: 1000px;
    width: 100%;
}

/* jumbotron */
.jumbotron {
    height: 33%;
    width: 80%;
    padding-top: 40px;
    margin: 0 auto; 
}

.jumbotronbottom {
    display: flex;
    margin-top: 50px;
}

.title{
    font-size: 46px;
}
/* Common */

.btn {
    height: 30px;
    width: 70px;
    border: 1px solid #0160ff;
    background-color: #0160ff;
    color: white;
}

.test {
    margin-top: 30px;
    text-decoration: none;
    line-height: 12px;
}

.arrow {
    margin-top: 50px;
    font-size: 50px;
}
/* Flex */

.flexlist {
    display: flex;
    justify-content: center;
    align-items: center;
}



.textbox{
    line-height: 24px;
    height: auto;
    width: 50%;
}

.btnlarge {
    height: 40px;
    width: 210px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #0160ff;
    background-color: #0160ff;
    color: white;
    
}
.imagebox {
    height: auto;
    width: 100%;
    background-color: lightgoldenrodyellow;
}

.imagebox img {
    width: 100%;
    height: auto;
    
}